.geist {
    font-family: "Geist", sans-serif !important;
    font-optical-sizing: auto !important;
}

.minus-the-navbar{
    height: calc(100vh - 1px);
}

.bold-xl {
    font-weight: 800;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover{
    text-decoration: none !important;
    color: inherit;
}